DOCKER_PROJECT_NAME={{ project_name }}
DOCKER_PROJECT_VERSION=latest

DOCKER_PORT=

DOCKER_VOLUME_APP=.
DOCKER_VOLUME_DOCKER=./docker
DOCKER_VOLUME_STATIC=./run/static
DOCKER_VOLUME_MEDIA=./run/media
DOCKER_VOLUME_LOGS=./logs

DJANGO_PRODUCTION=False
DJANGO_DEBUG=True
DJANGO_HOMOLOG=True

DJANGO_ALLOWED_HOSTS=127.0.0.1

DJANGO_LOGLEVEL=info
DJANGO_SSL_VERIFY=False

DJANGO_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/{{ project_name }}

DJANGO_AMQP_URL=amqp://guest:guest@127.0.0.1:5672/%2f
DJANGO_AMQP_HOST=127.0.0.1
DJANGO_AMQP_PORT=5672
DJANGO_AMQP_VIRTUAL_HOST=/
DJANGO_AMQP_USER=guest
DJANGO_AMQP_PASS=guest
DJANGO_AMQP_CONNECTION_NAME={{ project_name }}

DJANGO_EMAIL_BACKEND=smtp
DJANGO_EMAIL_HOST=127.0.0.1
DJANGO_EMAIL_PORT=1025
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_HOST_USER=nao-responder@mailhog.local
DJANGO_DEFAULT_FROM_EMAIL=nao-responder@mailhog.local

# separar parametros por ";"
# separar crons por "|"
DJANGO_CRONS=
